- if notice
  %p#notice= notice


%h2 マイページ

%p.welcome= "ようこそ#{@user.name}さん"

%h4 あなたの活動記録
#user-record
  - unless @user
    %p まだ活動記録がありません
  - else
<<<<<<< HEAD
    = render(patical: "aas/asciiArt", object: @user)
=======
    = render(patical: "aas/asciiArts", object: @user)
>>>>>>> 0f16e103f3b76e416b3fe09ecef4c3ddd4ee1aee
    = will_paginate @asciiArts, previous_label: "<", next_label: ">"
