- if notice
  %p#notice= notice

%h2 マイページ
#user-record
  - unless @asciiArts
    %p まだ登録がありません。
  - else
    = "#{@asciiArts.total_count}個のＡＡを登録しています。"
    = render(partial: "aas/asciiArt", object: @asciiArts)
    = paginate @asciiArts
