- if notice
  %p#notice= notice


%h2 マイページ

%p.welcome= "ようこそ#{@user.name}さん"

%h4 あなたの活動記録
#user-record
  - unless @asciiArts
    %p まだ活動記録がありません
  - else
    = "現在#{@asciiArts.total_count}個登録されています。"
    = render(partial: "aas/asciiArt", object: @asciiArts)
    = paginate @asciiArts
