- if notice
  %p#notice= notice


%h2 マイページ

%p.welcome= "ようこそ#{@user.name}さん"

%h4 あなたの活動記録
#user-record
  - unless @user
    %p まだ活動記録がありません
  - else
    = render(patical: "aas/asciiArt", object: @user)
    = will_paginate @asciiArts, previous_label: "<", next_label: ">"
