- asciiArt.each_with_index do |aa, i|
  %article
    %h1= aa.name
    .tags
      - if aa.tags.empty?
        %ul<
          %li タグが付けられていません
          %li= link_to 'タグを編集', new_tag_path(aa_id: aa.id), class: 'tag-edit'
      - else
        %ul<
          - aa.tags.each do |tag|
            %li= link_to tag.tag, tags_path(tag: tag.tag)
          %li= link_to 'タグを編集', new_tag_path(aa_id: aa.id), class: 'tag-edit'

    %dl{id: "aa#{i}", class: "aa"}
      %dt.aa-body<
        = aa_nobr(simple_format(aa.body, {class: "aa#{i}", contenteditable: "true"}, sanitize: false))
      %dd.aa-info<
        .copy-button クリップボードにコピー
        - if controller.controller_name == "admin"
          = link_to '編集', edit_aa_path(aa.id)
          = button_to '削除', aa, method: :delete, confirm: "削除してよろしいですか？"
        -#- if aa.user.name
        .user-info= "#{aa.user.name}さんが登録"
        -#- else
          -#.user-info= "削除されたユーザさんが登録"
