= form_for @aa do |f|
  - if @aa.errors.any?
    #error_explanation
      %h2= "#{pluralize(@aa.errors.count, "error")} prohibited this aa from being saved:"
      %ul
        - @aa.errors.full_messages.each do |msg|
          %li= msg
  = f.text_area :body, placeholder: "ＡＡを入力またはコピペ(´・ω・｀)"
  = f.hidden_field :user_id, value: @user_id
  = f.fields_for :tags do |tag|
    = tag.text_field :tag, id: 'aa-tags', placeholder: 'タグ入力 まだできていないので１つづつ登録してください・。・； 例) しまむらくん　やる夫'

  = f.submit '登録する', disable_with: "送信ちゅう…",id: "submit"
