= form_for @aa do |f|
  - if @aa.errors.any?
    #error_explanation
      %h2= "#{pluralize(@aa.errors.count, "error")} prohibited this aa from being saved:"
      %ul
        - @aa.errors.full_messages.each do |msg|
          %li= msg

  = f.label :name, 'AA名:'
  = f.text_field :name, size: 55

  = f.label :body, 'AA入力:'
  = f.text_area :body, cols: 55, rows: 13
  .action
    = f.submit '登録する'
