= form_for @tag do |f|
  - if @tag.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tag.errors.count, "error")} prohibited this tag from being saved:"
      %ul
        - @tag.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :tag, 'タグ'
    = f.text_field :tag
    = f.hidden_field :aa_id , value: @aa_id.id
  .actions
    = f.submit '登録'
