!!! 5
%html{lang: "ja"}
  %head
    %meta{chasset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, user-scalable=no, minimum-scale=1, maximum-scale=1"}
    %title ＡＡまとめ
    = stylesheet_link_tag 'application', catch: 'aa-matome'
    = javascript_include_tag 'application', catch: 'aa-matome'
    -#/[if lt IE 9]
      =javascript_include_tag 'htm5lshiv'
    -#/[if lt IE 8]
      =javascript_include_tag 'respond.min'
    =csrf_meta_tag
    =favicon_link_tag
    %meta{name: "keywords", content: "AAまとめ, AA, アスキーアートまとめ"}
    %meta{name: "description", content: "好きなAAを見つけやすく。"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35757053-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #contents
      #side
        %header{role: "banner"}
          = link_to(root_path, id: 'title') do
            %h1 AAまとめ
          #registration= link_to 'AA登録', new_aa_path
          %nav{role: "navigatore"}
            %ul
              %li= link_to 'ホーム', root_path
              %li= link_to 'ランキング', root_path, style: "text-decoration: line-through;"
              -unless session[:user_id]
                %li= link_to '会員登録', new_user_path
                %li= link_to 'ログイン', login_path
              -else
                %li= link_to 'マイページ', admin_index_path
                %li= button_to 'ログアウト', logout_path, method: :delete
          #search
            = form_tag({controller: 'tags', action: 'index', method: :get}) do
              = search_field_tag :tag, params[:tag], placeholder: '検索'
              = submit_tag 's'

          %aside#popular-tags
            %h4 人気タグ
            %ul<
              - unless @popularTags
                %li ありません
              - else
                - @popularTags.each do |tag|
                  %li= link_to tag.tag, tags_path(tag: tag.tag)

          %aside#random-tags
            %h4 ランダムタグ
            %ul<
              - unless @randomTags
                %li ありません
              - else
                - @randomTags.each do |tag|
                  %li= link_to tag.tag, tags_path(tag: tag.tag)

      #main-frame
        %div{id: "#{controller.controller_name}", role: "main"}
          = yield
        %footer{role: "contentinfo"}
          #left-footer
            #social
              %h3 ソーシャル
              <div class="ninja_onebutton">
              :javascript
                (function(d){
                  if(typeof(window.NINJA_CO_JP_ONETAG_BUTTON_04f743cffe78913cb574ed7dd9907727)=='undefined'){
                      document.write("<sc"+"ript type='text\/javascript' src='http:\/\/omt.shinobi.jp\/b\/04f743cffe78913cb574ed7dd9907727'><\/sc"+"ript>");
                  }else{ 
                      window.NINJA_CO_JP_ONETAG_BUTTON_04f743cffe78913cb574ed7dd9907727.ONETAGButton_Load();}
                })(document);
              </script><span class="ninja_onebutton_hidden" style="display:none;"></span><span style="display:none;" class="ninja_onebutton_hidden"></span>
              </div>
              -#%ul
                %li#twitter
                %li#fb
                %li#tumblr
            #contact
              %h3 コンタクト
          #right-footer 
            #sitemap
              %h3 サイトマップ
              %div
          #copylight &copy;&nbsp;2012&nbsp;ＡＡまとめ&nbsp;https://github.com/totora0155/AA---

        #scroll-btn 
