!!! 5
%html{lang: "ja"}
  %head
    %meta{chasset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, user-scalable=no, minimum-scale=1, maximum-scale=1"}
    %title ＡＡコレクション - ＡＡ、コレ。
    -# development用
    -#= stylesheet_link_tag 'normalize2.css', 'style2.css.sass'
    = stylesheet_link_tag 'application', catch: 'aa-matome_style'
    /[if lt IE 9]
      = javascript_include_tag 'html5shiv.js', 'respond.min.js', catch: 'aa-matome'
    =csrf_meta_tag
    =favicon_link_tag
    %meta{name: "keywords", content: "ＡＡ、コレ。, AA, アスキーアート, totora0155"}
    %meta{name: "description", content: "一度見たＡＡを探しやすく。好きなＡＡを見つけやすく。"}
  %body{id: "#{controller.controller_name}"}
    %header{role: "banner"}
      .inner
        = link_to(root_path, rel: "index", id: "title") do
          %h1 ＡＡ、コレ。
        %nav{role: "navigation"}
          - unless session[:user_id]
            %p#login= link_to "Twitterでログイン", "auth/twitter"
          - else
            %p#login{style: "font-size: 0.8em"} 
              = link_to "@#{truncate(@user.name, length: 8, omission: "…")}", admin_index_path
              でログイン中
            = button_to '- ログアウト', logout_path, method: :delete, rel: "logout"
          %ul#social
            %li.zocial-twitter= link_to "", "#", title: "まだ"
            -#%li.zocial-twitter= link_to "", "https://twitter.com/share", class: "twitter-share-button", :"data-url" => "http://aa-matome.herokuapp.com/", :"data-lang" => "ja", :"data-count" => "none", :"data-size" => "large"
            %li.zocial-facebook= link_to "", "#", title: "まだ"
            %li.zocial-googleplus= link_to "", "#", title: "まだ"
        #search
          = form_tag({controller: 'tags', ation: 'index'}, {method: :get}) do
            = text_field_tag :tag, params[:tag], placeholder: "タグ検索"
            = submit_tag ''
        -#submit画像の変わりにウェブフォント
        -#%span.entypo-search

    #contents
      .inner{role: "main"}        

        -# AAを表示させる。
        = yield

      #scroll-btn.entypo-up-open
      %footer.inner{role: "contentinfo"}
        #copylight<
          %small &copy;&nbsp;2012&nbsp;ＡＡ、コレ。&nbsp;https://github.com/totora0155/AA---

    = javascript_include_tag 'application', catch: 'aa-matome_js'
    :javascript
      var _gaq=[['_setAccount','UA-35757053-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
